[submodule "third_party/libsodium"]
	path = third_party/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "third_party/capnproto"]
	path = third_party/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "third_party/fpc"]
	path = third_party/fpc
	url = https://github.com/spenczar/fpc.git
